@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*::before,*::after,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

:root {
    --pink: #FF7979;
    --button: #38CC8B;
    --box: #5E54A4;
    --p: #3D3B48;
    --white: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    padding: 10% 6.5% 10% 6.5%;
    gap: 65px;
}

body{
    background-image: url(backgrnd.png);
}

.textside{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 17px;
}

h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;  
    color: var(--white);
}

.firstp{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;  
    color: var(--white);
}

.purplebox{
    width: 327px;
    height: 88px;
    background-color: var(--box);
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);  
    padding: 18px 66px;
}

span{
    font-weight: 700;
}

.secondp{
    font-size: 15px;
    color: var(--white);
    font-weight: 400; 
    text-align: center;
}

.inputsside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    width: 327px;
    padding: 6% 15%;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    gap: 16px;
}

input{
    width: 279px;
    height: 56px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #dedede;
}

#submit{
    width: 279px;
    height: 56px;
    border-radius: 5px;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    background-color: var(--button); 
    border: none; 
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;  
    color: var(--white);
}

#submit:hover{
    cursor: pointer;
    background-color: #77E2B3;
}

.lastp{
    text-align: center;
    color: #BAB7D4;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;  
}

a{
    text-decoration: none;
    color: #FF7979;
    font-weight: 700;
}

.error {
    width: 100%;
    font-size: 11px;
    color: var(--pink);
    font-weight: 500;
    text-align: right;
    font-style: italic;
    /* height: 17px; */
    display: flex;
    justify-content: end;
    margin-top: 2px;
}

.error-icon {
    background-image: url(error.png);
    background-position: 97%;
    background-repeat: no-repeat;
    background-clip: 5%;
}